[submodule "submodules/BepInEx.Harmony"]
	path = submodules/BepInEx.Harmony
	url = https://github.com/BepInEx/BepInEx.Harmony
[submodule "submodules/MonoMod"]
	path = submodules/MonoMod
	url = https://github.com/MonoMod/MonoMod.git
