<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarmonyX" version="2.9.0" targetFramework="net35" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net35" />
  <package id="MonoMod.RuntimeDetour" version="22.1.29.1" targetFramework="net35" />
  <package id="MonoMod.Utils" version="22.1.29.1" targetFramework="net35" />
  <package id="UnityEngine" version="5.6.1" targetFramework="net35" />
</packages>