<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarmonyX" version="2.1.1" targetFramework="net35" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net35" />
  <package id="MonoMod.RuntimeDetour" version="20.11.5.1" targetFramework="net35" />
  <package id="MonoMod.Utils" version="20.11.5.1" targetFramework="net35" />
</packages>